*{
    margin: 0px;
}
.text-1st-colour{
    color:#fd6e0a;
}

/* Navigation style */
nav{
display: flex;
justify-content: space-between;
margin: 0px 180px;
}
nav li{
    list-style: none;
    padding: 20px;
}
nav ul{
    display: flex;
    padding: 20px;
    align-items: center;
}


.nav-title{

font-weight: 800;
font-size: 45px;
}

.nav-1{
    padding: 10px;
}
button{
    background-color: #fd6e0a;
    padding: 10px;
    color: antiquewhite;
}
.bannar{
    margin: 0px 180px;
}
.full-bannar{
    display: flex;
    align-items: center;
    margin: 0px;
}
header{
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
   
}
.full-bannar button{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin: 5px 10px;
}
